[submodule "_ADDITIONAL_resources/pq-flasher"]
	path = _ADDITIONAL_resources/pq-flasher
	url = https://github.com/pd0wm/pq-flasher.git
[submodule "_ADDITIONAL_resources/op_params"]
	path = _ADDITIONAL_resources/op_params
	url = https://github.com/sshane/opParams.git
[submodule "_ADDITIONAL_resources/_ADDITIONAL_resources/op_params"]
	path = _ADDITIONAL_resources/_ADDITIONAL_resources/op_params
	url = https://github.com/sshane/opParams.git
